
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    position: relative; top: 0; left: 0;
    min-width: 1850px;
    max-width: 1920px;
    min-height: 900px;
    height: 100vh;
    max-height: 1030px;
    background-image: url("./../images/151591750_219977139840710_4780431451432061648_n.jpg");
    background-position: content;
    background-repeat: no-repeat;
    background-size: 1920px 1030px;
    background-color: #493828;
    z-index: -1;
}

.languages{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.534);
    transition: all .3s ease-in-out;
    z-index: 200000000000000000000000000000000;

    .lan_list{
        position: relative; top: 325px;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 5px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all .3s ease-in-out;

        .lan_item{
            margin: 0 3rem 0 3rem;
            width: 225px;

            img{
                display: block;
                border-radius: 2px;
            }
        }
    }
}

.settings{
    position: absolute;
    bottom: 1rem; left: 1rem;
    img{
        width: 2rem;
        height: 2rem;
    }
}

.settings_box{
    position: absolute;
    bottom: 14rem;
    width: auto;
    height: 5rem;
    left: -20rem;
    opacity: 0;
    transition: .3s all ease-in-out;

    .setting_list{
        width: 10rem !important;
        border-radius: 10px;
        padding-top: .5rem;
        height: 14rem;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.849);
        list-style-type: none;
        width: 100%;
        li{
            position: relative;
            width: 100%;
            border-bottom: 1px solid gray;
            color: white;
            padding: .5rem 0rem .5rem 1rem;
            font-size: .9rem;
            text-transform: uppercase;
            letter-spacing: 1px;

            &::before{
                content: '';
                position: absolute;
                right: 1rem;
                width: 1rem;
                height: 1rem;
                background-image: url("./../images/chevron.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: covert;
            }
        }
        .item_click{
            &::before{
                content: '';
                display: none;
            }
            &:hover{
                background-color: rgba(85, 78, 78, 0.583);
            }
        }
    }

    &::before{
        content: '';
        position: absolute;
        bottom: -159px;
        left: .4rem;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid rgba(0, 0, 0, 0.849);
        z-index: -2;
    }
}

.settings_hover{
    position: absolute;
    top: 0rem;
    left: -20rem;
    width: 10rem;
    border-radius: 10px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.849);

    ul{
        list-style-type: none;
        width: 100%;
        li{
            position: relative;
            width: 100%;
            border-bottom: 1px solid gray;
            color: white;
            padding: .5rem 0rem .5rem 1rem;
            font-size: .9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            
            &:hover{
                background-color: rgba(85, 78, 78, 0.583);
            }
            &::before{
                display: none;
            }
        }
    }

    &::before{
        content: '';
        position: absolute;
        top: 16px;
        left: -12px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid rgba(0, 0, 0, 0.849);
        z-index: -2;
    }
}

header{
    width: 40rem;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.849);
    display: flex;
    border-bottom-right-radius: 15px;
    flex-direction: row;

    .Logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 5rem;
    }
    nav{
        height: 100%;
        display: flex;
        align-items: center;
        
        ul{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            list-style-type: none;

            li{
                padding: 1rem 4rem;
                color:white;


                &:hover{
                    background-color: rgba(73, 66, 66, 0.377);
                }
                &:nth-child(1){
                    border-right: 1px solid gray;
                }
                &:nth-child(2){
                    border-left: 1px solid gray;
                }
            }
        }
    }
}

.game{
    position: absolute;
    min-width: 1850px;
    max-width: 1920px;
    min-height: 900px;
    height: 100vh;
    max-height: 1030px;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    opacity: 1;
    transition: all .2s ease-in-out;
}
.tabela{
    position: relative;
    top: 10rem;
    left: 1rem;
    width: 39rem;
    height: auto;
    color: white;
    border-radius: 10px;
    background-color: rgba(44, 35, 35, 0.582);
    padding: 1rem;

    table{
        width: 100%;
        height: 100%;

        tr{
            border: 1px solid gray;

            .empty{
                border: none;
            }
            td{
                border: 1px solid gray;
                text-align: center;
                padding: .4rem;
            }
            .points[data-player="1"]{
                &:hover{
                    background-color: rgba(117, 108, 108, 0.582);
                }
            }
        }
        .sumax1,.sumax2,.razem{
            background-color: rgba(0, 0, 0, 0.603);
        }
    }
}
.gracze{
    width: 65rem;
    height: 55rem;
    padding: 1rem;
    border: 1px solid white;
    position: absolute;
    top: 1rem; right: 1rem;

    .game_btn{
        position: absolute;
        bottom: 1rem;
        left: calc((65rem - 18rem) / 2);
        transition: all .3s ease-in-out;
        button{
            width: 18rem;
            height: 3.5rem;
            border: 1px solid red;
            background-color: rgba(0, 0, 0, 0.39);
            border-radius: 5px;
            font-size: 1.5rem;
            color: white;
            letter-spacing: 5px;
            outline: none;
            text-decoration: none;
        }
    }
    .repeat_btn{
        width: 10rem;
        height: 3.5rem;
        position: absolute;
        bottom: 1rem;
        left: calc((65rem - 10rem) / 2);
        transition: all .3s ease-in-out;
        display: none;
        opacity: 0;
        border: 1px solid red;
        background-color: rgba(0, 0, 0, 0.39);
        div{
            width: 100%;
            height: 100%;
            background-image: url("./../images/redo.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 2.5rem 2.5rem;
            pointer-events: none;
        }
    }

    .Turn{
        width: 15rem; text-align: center;
        height: 8rem;
        font-size: 1.6rem;
        position: absolute; top: calc((55rem - 16rem) / 2); left : calc((65rem - 15rem) / 2);
        color: white;
    }

    .user_1{
        .header{
            width: 10rem; text-align: center;
            font-size: 1.2rem;
            position: absolute; bottom: 12rem; left : calc((65rem - 10rem) / 2);
            color: white;
        }
        .kostki{
            position: absolute; bottom: 6rem; left: calc((65rem - 33.5rem) / 2);
        }
    }
    .user_2{
        transform: rotateZ(90deg);
        .header{
            width: 10rem; text-align: center;
            font-size: 1.2rem;
            position: absolute; top: 20rem; left: 50.5rem;
            color: white;
        }
        .kostki{
            position: absolute; top: 25rem; left: 39rem;
        }
    }
    .user_3{
        .header{
            width: 10rem; text-align: center;
            font-size: 1.2rem;
            position: absolute; top: 6.5rem; left:  calc((65rem - 10rem) / 2);
            color: white;
        }
        .kostki{
            position: absolute; top: 1rem; left: calc((65rem - 33.5rem) / 2);
        }
    }
    .user_4{
        transform: rotateZ(-90deg);
        .header{
            width: 10rem; text-align: center;
            font-size: 1.2rem;
            position: absolute; top: 20rem; left: 2rem;
            color: white;
        }
        .kostki{
            position: absolute; top: 25rem; right: 39rem;
        }
    }

}
.kostki{
    width: 33.5rem;
    height: 5.5rem;
    position: relative;
    display: flex;
    .kostka{
        position: relative;
        top: 1rem;
        transform-style: preserve-3d;
        transition: all .3s ease-in-out;
        transform-origin: 1.5rem 1.5rem;
        margin:  0 3rem;
        z-index: 2;
        img{
            position: absolute;
            width:3rem;
            height: 3rem;
            background-color: white;
        }
        .kostka_1_side{
            transform: rotateY(0deg) translateZ(1.5rem);
        }
        .kostka_2_side{
            transform: rotateY(90deg) translateZ(1.5rem);
        }
        .kostka_3_side{
            transform: rotateX(90deg) translateZ(-1.5rem);
        }
        .kostka_4_side{
            transform: rotateX(-90deg) translateZ(-1.5rem);
        }
        .kostka_5_side{
            transform: rotateY(90deg) translateZ(-1.5rem);
        }
        .kostka_6_side{
            transform: rotateY(0deg) translateZ(-1.5rem);
        }
    }
}



.History{
    position: absolute;
    top: -300vw; left: 0;
    min-width: 1850px;
    max-width: 1920px;
    min-height: 900px;
    height: 100vh;
    max-height: 1030px;
    z-index: 20000;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease-in-out;

    .list{
        width: 65rem;
        height: 55rem;
        padding: 1rem;
        border: 1px solid white;
        position: absolute;
        top: 1rem; right: 1rem;
        background-color: rgba(0, 0, 0, 0.555);
        overflow-y: scroll;


        .item{
            position: relative;
            width: 100%;
            height: 4rem;
            display: flex;
            flex-direction: row;
            color: white;
            align-items: center;

            .id{
                text-transform: uppercase;
                padding: 0 1rem;
                border-right:  1px solid white;
            }

            .users{
                display: flex;
                flex-direction: row;
                align-items: center;


                .gracz{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0 1.5rem;
                    border-right: 1px solid white;

                    h1{
                        font-size: 1.2rem;
                        padding-right: .5rem;
                    }
                    p{
                        font-size: 1rem;
                    }

                }
                .gracz[data-winner=true]{
                    background-color: rgba(168, 10, 10, 0.514);
                }

            }

        }
    }
}